<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Chooser</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left widgetsNavBar">
            <a class="navbar-link" href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            Choose Widget
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item cl-list-item-borderless">
            <a href="widget-heading.html">
                Header
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#">
                Label
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#">
                HTML
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#">
                Text Input
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#">
                Link
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#">
                Button
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="widget-image.html">
                Image
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="widget-youtube.html">
                YouTube
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#">
                Data Table
            </a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#">
                Repeater
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="profile.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

</body>
</html>
