<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left widgetsListNav">
            <a class="navbar-link" href="page-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            Widgets
        </a>
        <a href="widget-chooser.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>The Thousand Faces of Dunjia</h1>
    </div>
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>
          Film Review: ‘The Thousand Faces of Dunjia’
        </h3>
    </div>
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img src="https://pmcvariety.files.wordpress.com/2017/12/the-thousand-faces-of-dunjia.jpg?w=1000&h=563&crop=1"/>
    </div>
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
      <p>Bloated with visual effects, martial artists combat and amorous shenanigans, the one thing missing in “<em><a href="http://variety.com/t/the-thousand-faces-of-dunjia"> The Thousand Faces of Dunjia ”</a></em> is a comedic touch,
          which might have made this elaborate blockbuster more appealing.</p>
      <p>Written and produced by Tsui Hark, and directed by Yuen Woo-ping, this action fantasy about a secret society
          of fighters with magic powers seems to lend itself to the cheeky tone of American blockbusters like “Guardians of the Galaxy” or “Fantastic Beasts and Where to Find Them,”
          albeit with a Chinese makeover. However, as Yuen’s soulless sequel “Crouching Tiger, Hidden Dragon: Sword of Destiny” made clear, he may be a top martial arts choreographer,
          but he’s a strictly mechanical director</p>

    </div>
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="widget-youtube.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <div id="widgetsYoutubeVideo"><iframe id="widgetsYoutubeVideoFrame" src="https://www.youtube.com/embed/zZh-3xXNRkM" width="640" height="360" frameborder="0"  allowfullscreen></iframe></div>

    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#" class="navbar-link navbar-text pull-left cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-play"></span>
        </a>

        <a href="#" class="navbar-link navbar-text pull-left cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>

        <a href="profile.html" class="navbar-link navbar-text pull-right cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user">
            </span>
        </a>
    </div>
</nav>

</body>
</html>
