<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../app/css/styles.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="../page/page-list.html" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-chooser.html" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            Widget
        </a>
    </div>
</nav>

<div class="container cl-container-padding">
    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
            </a>
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
            </a>
        </div>
        <h1>Grammys 2018: Lana Del Rey and Lady Gaga lead best dressed on the star-studded red carpet</h1>
    </div>

    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
            </a>
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
            </a>
        </div>
        <h3>The 60th Annual Grammy Awards took place at Madison Square Garden in New York on Sunday night.</h3>
    </div>

    <div>
        <div>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
            </a>
            <a href="widget-image.html" class="pull-right">
                <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
            </a>
            <img class="img-responsive img-rounded cl-widget-images"
                 src="https://www.standard.co.uk/s3fs-public/styles/hero_tablet/public/thumbnails/image/2018/01/28/23/grammy5.jpg">
        </div>
    </div>
    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
            </a>
        </div>
        <p>
          Although the ceremony had ditched its LA home in favour of New York, the cooler climate did nothing to deter stars from making the very best sartorial statements on the red carpet.
        </p>
    </div>

    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
            </a>
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
            </a>
        </div>
        <h3>Video: Grammy Moments</h3>
    </div>

    <div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/tTMtafubPq0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
            </a>
            <a href="widget-youtube.html" class="pull-right">
                <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
            </a>
        </div>
    </div>

    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
            </a>
        </div>
        <p>There is a video of the most exciting grammy moments</p>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="../user/profile.html" class="cl-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>

        <div class="pull-left navbar-text">
            <a href="#" class="cl-icon-padding">
                <span class="glyphicon glyphicon-play cl-widget-gly-color"></span>
            </a>
            <a href="#" class="cl-icon-padding">
                <span class="glyphicon glyphicon-eye-open cl-widget-gly-color"></span>
            </a>

        </div>
    </div>
</nav>

</div>
</body>
</html>
