<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Widget List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../css/styles.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a href="../page/page-list.html" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a href="widget-choose.html" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets
    </a>
  </div>
</nav>

<div class="container cl-container-padding">
  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <h1>GOP Releases Formerly Classified Memo Critical Of FBI</h1>
  </div>

  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <h3>It hints at a new GOP target: deputy attorney general</h3>
  </div>

  <div>
    <div>
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="widget-image.html" class="pull-right">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <img class="img-responsive img-rounded cl-widget-images"
           src="https://media.fox5dc.com/media.fox5dc.com/photo/2018/02/01/trump_classified_1517500733623_4880181_ver1.0_640_360.jpg">
    </div>
  </div>
  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <p>WASHINGTON — Republicans on the House Intelligence Committee voted Monday evening to release a contentious secret memorandum said to accuse the Justice Department and the FBI of misusing their authority to obtain a secret surveillance order on a former Trump campaign associate.
    </p>
  </div>

  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <h3>Memo asserts bias on part of FBI investigation in Russia probe</h3>
  </div>

  <div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/I84wnvEqGXc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger whiteBackground"></span>
      </a>
      <a href="widget-youtube.html" class="pull-right">
        <span class="glyphicon glyphicon-cog whiteBackground" ></span>
      </a>
    </div>
  </div>

  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <p>Dave Bryan reports.</p>
  </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a href="../user/profile.html" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>

    <div class="pull-left navbar-text">
      <a href="#" class="cl-icon-padding">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a href="#" class="cl-icon-padding">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>

    </div>
  </div>
</nav>

</body>
</html>
