<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget YouTube</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left widgetsNavBar">
            <a class="navbar-link" href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            Widget Edit
        </a>
        <a href="widget-list.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="Name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="Text"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="URL"
           value="https://youtu.be/zZh-3xXNRkM"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           placeholder="100%"
           id="width"/>


    <a href="widget-list.html" class="btn btn-danger btn-block">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="profile.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

</body>
</html>
