<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="../../css/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-light bg-primary">
        <div class="navbar-brand text-white font-weight-bold" href="#">
            Profile
        </div>
        <a class="navbar-brand pull-right" href="profile.html">
            <span class="glyphicon glyphicon-ok text-white"></span>
        </a>
    </nav>
    <div class="container cl-body-padding">
        <form action="../website/website-list.html" method="GET">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="jannunzi" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="jannunzi@gmail.com" class="form-control">
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" placeholder="Jose" class="form-control">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" placeholder="Annunziato" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Websites</button>
            </div>
            <div class="form-group">
                <a href="login.html" class="btn btn-danger btn-block">Logout</a>
            </div>
        </form>
    </div>
    <nav class="navbar navbar-fixed-bottom navbar-light bg-primary">
        <a class="navbar-brand pull-right" href="#">
            <i class="glyphicon glyphicon-user text-white"></i>
        </a>
    </nav>
</body>

</html>