<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="btn navbar-brand" routerLink="/user/{{userId}}/website/{{websiteId}}/page">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Widgets
  </div>
  <a class="btn navbar-brand pull-right" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">
    <span class="glyphicon glyphicon-plus text-dark"></span>
  </a>
</nav>

<div id="sortable" class="cl-body-padding" appSortable (newIndexes)="reorderWidgets($event)">
  <div *ngFor="let widget of widgets">
    <div *ngIf="widget.widgetType == 'HEADER'">
      <div class="pull-right">
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
      <h1>{{widget.text}}</h1>
    </div>

    <div *ngIf="widget.widgetType == 'HTML'">
      <div class="pull-right">
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
      <h1>Html name: {{widget.name}}</h1>
    </div>

    <div *ngIf="widget.widgetType == 'TEXT'">
      <div class="pull-right">
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
      <h1>Text name: {{widget.name}}</h1>
    </div>

    <div *ngIf="widget.widgetType == 'IMAGE'">
      <div>
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <img class="img-responsive cl-widget-images" src="{{baseUrl}}/api/image/{{widget.url}}" alt="alt" width="widget.width">
      </div>
      <br>
    </div>

    <!-- <div *ngIf="widget.widgetType == 'IMAGE'">
      <div>
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <img class="img-responsive cl-widget-images" src="{{widget.url}}" alt="alt" width="{{widget.width}}">
      </div>
      <br>
    </div> -->

    <div class="embed-responsive embed-responsive-16by9" *ngIf="widget.widgetType == 'YOUTUBE'">
      <div>
        <iframe width="{{widget.width}}" height="360" [src]="photoURL(widget.url)" frameborder="0" allowfullscreen>
        </iframe>
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger" style="background-color: white"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-cog" style="background-color: white"></span>
        </a>
      </div>
      <br>
    </div>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-secondary">
  <a [routerLink]="['/#']" class="navbar-brand">
    <span class="glyphicon glyphicon-play text-dark"></span>
  </a>
  <a [routerLink]="['/#']" class="navbar-brand">
    <span class="glyphicon glyphicon-eye-open text-dark"></span>
  </a>
  <a class="btn navbar-brand pull-right" routerLink="/user/{{userId}}">
    <span class="glyphicon glyphicon-user text-primary"></span>
  </a>
</nav>