html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

.cl-body-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

label {
    font-weight: bold;
}

a:hover{
    text-decoration: none;
}

.text-white {
    color: white;
}

.text-dark {
    color: black;
}

.extra-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.font-weight-bold {
    font-weight: bold;
}

.cl-left-padding {
    padding-left: 30px;
}

.bg-secondary {
    background-color: lightgray;
}

.extra-right-padding {
    padding-right: 30px;
}

.extra-left-padding {
    padding-left: 30px;
}

.cl-widget-images {
    position: relative;
    width: 85%;
    display: inline;
    z-index: 99;
}

.cl-full-height {
    height: 100%;
    min-height: 100%;
}

.cl-right-divider {
    position: relative;
    border-right: 3px solid gray;
    padding-top: -70px;
    padding-bottom: -70px;
}