

<div class="row container-fluid">
  <div class="col-sm-4 hidden-xs websiteNewTable">
    <app-website-list></app-website-list>
  </div>

  <nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="row container-fluid">
      <div class="col-sm-4 hidden-xs">
        <div class="navbar-text pull-left widgetsNavBar">
          <a class="cl-text-white" routerLink="../">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
        <div class="navbar-header">
          <a class="cl-text-white navbar-brand cl-text-bold" routerLink="./">
            Websites
          </a>
        </div>
        <div class="navbar-text pull-right navToolIconPosition">
          <a class="cl-text-white" routerLink="../new" >
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="navbar-text pull-left hidden-lg hidden-md hidden-sm widgetsNavBar">
          <a class="cl-text-white" routerLink="../">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
        <div class="navbar-text pull-right widgetsNavBarRight">
          <a class="cl-text-white" (click)="editWeb()">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </div>
        <div class="navbar-header">
          <a class="cl-text-white navbar-brand cl-text-bold" routerLink="./">
            Edit Website
          </a>
        </div>
      </div>
    </div>
  </nav>



  <div class="col-xs-12 col-sm-8 pull-right container">
    <form (ngSubmit)="deleteWeb()" #webEditForm="ngForm">
      <div class="form-group">
        <label for="name">Website Name</label>
        <input class="form-control" type="text" [(ngModel)]="website.name" name="webName" id="name">
      </div>
      <div class="form-group">
        <label for="description">Web Description</label>
        <textarea class="form-control" id="description" rows="5" [(ngModel)]="website.description" name="description"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-danger form-control" type="submit">Delete</button>
      </div>
    </form>
  </div>
</div>


<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="container-fluid">
    <a [routerLink]="['/user',website.developerId]" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
