<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="../" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>

    <a class="navbar-brand cl-text-white cl-text-bold" routerLink=".">
      Choose Widget
    </a>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless">
        <a routerLink="../header">HEADER</a>
      </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="../image">IMAGE</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="../youtube">YOUTUBE</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="../html">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="../text">TEXT</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="../../../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
