<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="navbar-brand" routerLink="/user/{{userId}}/website/{{websiteId}}/page">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Edit Page
  </div>
  <a class="btn navbar-brand pull-right" (click)="updatePage(updatedPage)">
    <span class="glyphicon glyphicon-ok text-dark"></span>
  </a>
</nav>
<div class="container-fluid cl-body-padding">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="updatedPage.name" type="text" class="form-control" name="name" placeholder="Page Name">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input [(ngModel)]="updatedPage.title" type="text" class="form-control" name="title" placeholder="Page Title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input [(ngModel)]="updatedPage.description" type="text" class="form-control" name="description" placeholder="Page Description" ngModel required>
    </div>
    <a (click)="deletePage()" class="btn btn-block btn-danger">Delete</a>
  </form>
</div>
<nav class="navbar navbar-fixed-bottom navbar-light bg-secondary">
  <a class="navbar-brand pull-right" routerLink="/user/{{userId}}">
    <span class="glyphicon glyphicon-user text-primary"></span>
  </a>
</nav>