<div class="container-fluid cl-body-padding">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>Login</h1>
  <form (ngSubmit)="login()" #f="ngForm">

    <div class="form-group">
      <input type="text" name="username" placeholder="username" class="form-control" ngModel required #username="ngModel">
    </div>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <div class="form-group">
      <input type="password" name="password" placeholder="password" class="form-control" ngModel required #password="ngModel">
    </div>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>

    <div class="form-group">
      <button [disabled]="!f.valid" class="btn btn-primary btn-block" type="submit">Login</button>
    </div>

    <div class="form-group">
      <a routerLink="/register" class="btn btn-success btn-block">Register</a>
    </div>

    <a href="{{baseUrl}}/facebook/login" class="btn btn-primary btn-block" type="button" >
      <span class="fa fa-facebook"></span>Facebook</a>

    <!--{{f.valid}}-->
    <!--<div>  this line means except for disabled, the form is always valid.-->
    <!--</div>>-->
  </form>
</div>
