<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websites Edit</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left widgetsNavBar">
                <a class="cl-text-white" href="website-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="cl-text-white navbar-brand cl-text-bold" href="#">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right navToolIconPosition">
                <a class="cl-text-white" href="website-new.html" >
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left hidden-lg hidden-md hidden-sm widgetsNavBar">
                <a class="cl-text-white" href="website-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right widgetsNavBarRight">
                <a class="cl-text-white" href="website-list.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="cl-text-white navbar-brand cl-text-bold" href="#">
                    Edit Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs websiteNewTable">
        <ul class="list-group">
            <li class="list-group-item cl-list-item-borderless">
                <a href="../page/page-list.html">
                    Blogging App
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right websiteToolIcon"></span>
                </a>
            </li>
            <li class="list-group-item cl-list-item-borderless">
                <a href="../page/page-list.html">
                    Address Book App
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item cl-list-item-borderless">
                <a href="../page/page-list.html">
                    Script Testing App
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item cl-list-item-borderless">
                <a href="../page/page-list.html">
                    Blogger
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8 pull-right">
        <form>
            <div class="form-group">
                <label for="website name">Website Name</label>
                <input class="form-control" placeholder="Name" value="Blogger" id="website name"/>
            </div>
            <div class="form-group">
                <label for="website description">Website Description</label>
                <textarea class="form-control" rows="5"
                          placeholder="Describe it here"
                          id="website description">Type something here</textarea>
            </div>

            <a href="website-list.html" class="btn btn-danger btn-block">Delete</a>
        </form>
    </div>
</div>


<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
    <div class="container-fluid">
        <a href="../user/profile.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

</body>
</html>
