<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="btn navbar-brand" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Widget Edit
  </div>
  <a class="btn navbar-brand pull-right" (click)="updateWidget(widget)">
    <span class="glyphicon glyphicon-ok text-dark"></span>
  </a>
</nav>
<div class="container-fluid cl-body-padding">
  <form>
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input type="text" class="form-control" name="youtube-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input type="text" class="form-control" name="youtube-text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input [(ngModel)]="widget.url" type="text" class="form-control" name="url" placeholder="YouTube URL">
    </div>
    <div class="form-group">
      <label for="width">Width</label>
      <input [(ngModel)]="width" type="text" class="form-control" name="width" placeholder="100%">
    </div>
  </form>
  <a (click)="deleteWidget()" class="btn btn-block btn-danger">Delete</a>
</div>
<nav class="navbar navbar-fixed-bottom navbar-light bg-secondary">
  <a class="navbar-brand pull-right" [routerLink]="['/profile']">
    <span class="glyphicon glyphicon-user text-primary"></span>
  </a>
</nav>