<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="createPage(newPage)" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink="/user/website/{{websiteId}}/page/new">
      New Page
    </a>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="page-name">Name</label>
      <input [(ngModel)]="newPage.name" type="text" class="form-control" id="page-name" placeholder="Page Name"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="page-title">Title</label>
      <input [(ngModel)]="newPage.title" type="text" class="form-control" id="page-title" placeholder="Page Title"
             [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
