<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div class="col-xs-5 hidden-xs">
    <div class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website" class="navbar-link text-white">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>

    <div class="text-white navbar-brand font-weight-bold" [routerLink]="['/#']">
      Websites
    </div>
    <a [routerLink]="['/#']" class="navbar-link navbar-text pull-right text-white">
      <span class="glyphicon glyphicon-plus"></span>
    </a>

  </div>
  <div class="col-xs-7">
    <div class="navbar-text pull-left visible-xs">
      <a routerLink="/user/{{userId}}/website/" class="navbar-link text-white">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="text-white navbar-brand font-weight-bold" [routerLink]="['/#']">
      New Website
    </div>
    <a (click)="createWebsite(newWebsite)" class="navbar-link navbar-text pull-right text-white">
      <span class="glyphicon glyphicon-ok"></span>
    </a>

  </div>
</nav>

<div class="col-xs-4 hidden-xs cl-body-padding cl-full-height">

  <div *ngFor="let website of websites" class="row extra-padding">
    <a class="cl-left-padding" routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
    <a class="pull-right" routerLink="/user/{{userId}}/website/{{website._id}}">
      <i class="glyphicon glyphicon-cog text-primary"></i>
    </a>
  </div>

</div>

<div class="col-xs-1 hidden-xs cl-full-height cl-right-divider"></div>

<div class="col-xs-7 cl-body-padding">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="newWebsite.name" type="text" class="form-control" name="name" placeholder="Name" ngModel required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea [(ngModel)]="newWebsite.description" name="description" class="form-control" rows="5" placeholder="Description"></textarea>
    </div>
  </form>
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-primary">
  <a class="navbar-brand pull-right" routerLink="/user/{{userId}}">
    <i class="glyphicon glyphicon-user text-white"></i>
  </a>
</nav>