<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="../.." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="./new" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink="/#">
      Widget
    </a>
  </div>
</nav>

<div class="container cl-container-padding">
    <div id="sortable" class="cl-body-padding" appSortable (newIndexes)="reorderWidgets($event)">
  <div  *ngFor="let widget of widgets | orderBy" ngSwitch="widget.widgetType">
    <div *ngIf="widget.type == 'HEADER'">
      <div class="pull-right">
        <a routerLink="/#" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
        </a>
        <a routerLink="{{widget._id}}">
          <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
        </a>
      </div>
      <div [ngSwitch]="widget.size">
        <h1  *ngSwitchCase="1">{{widget.text}}</h1>
        <h2  *ngSwitchCase="2">{{widget.text}}</h2>
        <h3  *ngSwitchCase="3">{{widget.text}}</h3>
        <h4  *ngSwitchCase="4">{{widget.text}}</h4>
        <h5  *ngSwitchCase="5">{{widget.text}}</h5>
        <h6  *ngSwitchCase="6">{{widget.text}}</h6>
      </div>
      <!--<h1>HEADER: {{widget.text}}</h1>-->
    </div>
    <div *ngIf="widget.type == 'HTML'">
      <div class="pull-right">
        <a routerLink="{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
        </a>
      </div>
      <div [innerHTML]="widget.text"></div>
    </div>

    <div *ngIf="widget.type == 'TEXT'">
      <div class="pull-right">
        <a routerLink="{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
        </a>
      </div>
      <!--<h1>TEXT: {{widget.text}}</h1>-->

      <!--<div *ngIf="widget.formatted">-->
        <!--<quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>-->
      <!--</div>-->

      <!--<input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"-->
             <!--placeholder="{{widget.placeholder}}" class="form-control"/>-->

      <!--<textarea *ngIf="!widget.formatted && (widget.rows > 1)"-->
                <!--rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"-->
                <!--class="form-control">{{widget.text}}</textarea>-->
    <!--</div>-->
          <div *ngIf="widget.formatted">
            <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
          </div>

          <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
                 placeholder="{{widget.placeholder}}" [(ngModel)] = "widget.text" class="form-control"/>

          <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                    rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                    class="form-control" [(ngModel)] = "widget.text">{{widget.text}}</textarea>
        </div>

    <!--<div *ngIf="widget.type == 'TEXT'">-->
      <!--<a class="pull-right white-background">-->
        <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
      <!--</a>-->
      <!--<a routerLink="{{widget._id}}" class="pull-right white-background">-->
        <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
      <!--</a>-->
      <!--<div *ngIf="widget.formatted">-->
        <!--<quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>-->
      <!--</div>-->
      <!--<input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"-->
             <!--placeholder="{{widget.placeholder}}" [(ngModel)] = "widget.text"  class="form-control"/>-->
      <!--<textarea *ngIf="!widget.formatted && (widget.rows > 1)"-->
                <!--rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"-->
                <!--class="form-control" [(ngModel)] = "widget.text"></textarea>-->
    <!--</div>-->


        <!--<div *ngIf="widget.type == 'TEXT'">-->
      <!--<div class="pull-right">-->
        <!--<a routerLink="/#" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>-->
        <!--</a>-->
        <!--<a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">-->
          <!--<span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>-->
        <!--</a>-->
      <!--</div>-->
      <!--<h1>TEXT: {{widget.text}}</h1>-->
    <!--</div>-->

    <div *ngIf="widget.type == 'IMAGE'">
      <a routerLink="{{widget._id}}" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
      </a>
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">
        <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
      </a>
      <img class="img-responsive img-rounded cl-widget-images"
           src="{{widget.url}}" alt="alt" width="{{widget.width}}">
    </div>

    <div class="embed-responsive embed-responsive-16by9 youtube-widget" *ngIf="widget.type == 'YOUTUBE'">
      <iframe width="{{widget.width}}" height="360" [src]=getURL(widget.url) frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <a href="{{widget._id}}" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger cl-widget-toolbar-hamburger"></span>
      </a>
      <a routerLink="{{widget._id}}" class="pull-right">
        <span class="glyphicon glyphicon-cog cl-widget-toolbar-cog"></span>
      </a>
    </div>
  </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="../../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>

    <div class="pull-left navbar-text">
      <a routerLink="/profile" class="cl-icon-padding">
        <span class="glyphicon glyphicon-play cl-widget-gly-color"></span>
      </a>
      <a routerLink="/profile" class="cl-icon-padding">
        <span class="glyphicon glyphicon-eye-open cl-widget-gly-color"></span>
      </a>

    </div>
  </div>
</nav>
